<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pixel2Code</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Shanti&display=swap');
        </style>
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/grioscairo/pixel2Code/main/Window-elements/converter-logo.png">
        <h1 id="pixel">Pixel2Code</h1>
        <br>
        <h3>Conversor de pixel art a código para MiniWin.</h3>
            <br>
        <div class = "container">
            
            <!-- <form action="/conversion?use=1" method="post" class="dropzone" id="my-dropzone"> -->
            <form action="/conversion?use=1" method="post">
                {%for message in get_flashed_messages()%}
                    <p id="pixel">{{message}}</p>
                    <div class="dropzone">
                        <div class="dz-message needsclick">
                            <p id="pixel"><b>{{msj2}}</b></p>
                        </div>
                    </div>
                {%endfor%}
                <div class="mb-3">
                    <input type="text"  placeholder="# pixeles en eje X" name="numCuadX">
                </div>
                <div class="mb-3">
                    <input type="text"  placeholder="# pixeles en eje Y" name="numCuadY">
                </div>   
                <div class="mb-3">
                    <input type="text"  placeholder="Tamaño del pixel" name="numEspacio">
                </div>
                <div class="mb-3">
                    <input type="text"  placeholder="Punto de inicio X" name="numIniX">
                </div>
                <div class="mb-3">
                    <input type="text"  placeholder="Punto de inicio Y" name="numIniY">
                </div>
                <button type="submit" id="greet">Generar .txt</button>
            </form>         
        </div>
        <br>
        <br>
        <h5>©2022 Gabriel Rios Cairo</h5>    
        <h5> GitHub: @grioscairo</h5>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $(".dropzone").dropzone({
                  url: '/upload',
                  width: 300,
                  height: 300, 
                  progressBarWidth: '100%',
                  maxFileSize: '5MB'
                })
            });
        </script> 
    </body>
</html>